# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Don't want to cache library versions because always want latest lambda-wrapper
package-lock.json
